/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1290px) {
  .big-pic {
    height: 700px;
  }
}
@media (max-width: 1222px) {
  .tri-box {
    width: 75%;
    margin-bottom: 20px;
  }
  .black-square {
    height: 1500px;
  }
}
@media (max-width: 1216px) {
  .three-box {
    width: 100%;
  }
  .block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 1149px) {
  .big-pic {
    height: 667px;
  }

  .bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer {
    height: 800px;
  }
  .quick-contacts {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contacts {
    text-align: center;
    margin-top: 20px;
  }
  .logo-2 {
    margin-top: 30px;
  }
  .right-block {
    margin-bottom: 30px;
  }
}
@media (max-width: 1120px) {
  .last-section {
    height: 1150px;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}
@media (max-width: 1067px) {
  .trio-container {
    width: 51%;
  }
  .trio-box {
    margin-top: 10px;
  }
  .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 1130px) {
  .background {
    background-position: center;
  }
}
@media (max-width: 808px) {
  .telephone {
    margin-top: 8px;
  }
  .container {
    left: 50px;
  }
}
@media (max-width: 947px) {
  .triangle-2 {
    margin-left: 0px;
    margin-top: 10px;
    width: 75%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .triangle-1 {
    padding-top: 0px;
  }
  .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .triangle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .container {
    left: 0px;
  }
}
@media (max-width: 817px) {
  .black-square {
    height: 2000px;
  }
}
@media (max-width: 671px) {
  .fa-bars {
    display: block;
  }
  .high-nav,
  .telephone,
  .low-nav {
    display: none;
  }
  .trio-box {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
@media (max-width: 640px) {
  .name {
    font-size: 25px;
    font-family: "FuturaPT-Bold";
  }
}
@media (max-width: 572px) {
  .right-block {
    margin-left: 0px;
  }
}
@media (max-width: 555px) {
  .black-square {
    height: 2100px;
  }
}
@media (max-width: 465px) {
  .name {
    font-size: 20px;
    font-family: "FuturaPT-Bold";
  }
}
@media (max-width: 450px) {
  .bottom {
    display: block;
  }
}
@media (max-width: 370px) {
  .name {
    font-size: 15px;
    font-family: "FuturaPT-Bold";
  }
  .button3 {
    max-width: 183px;
    width: 100%;
  }
}
@media (max-width: 340px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .email::after {
    display: none;
  }
}
