/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Main Elements */
h2 {
  font-family: "FuturaPT";
  font-size: 50px;
  text-transform: capitalize;
  color: #ffffff;
}
h3 {
  font-family: "FuturaPT";
  font-size: 40px;
  text-transform: capitalize;
}
h4 {
  font-family: "FuturaPT";
  font-size: 30px;
  text-transform: capitalize;
  color: #ffffff;
  width: 100%;
}
h5 {
  font-family: "FuturaPT";
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
}
P {
  font-family: "FuturaPT";
  font-size: 15px;
}
footer {
  background-color: #000000;
  width: 100%;
  height: 500px;
}
/* fa sections */
.fa-bars {
  display: none;
}
.fa-facebook-f {
  color: #0739ff;
}
.fa-twitter {
  color: #00a2ff;
}
.fa-instagram {
  color: #f933df;
}
.fa-linkedin-in {
  color: #5eb6e1;
}
.fa-envelope {
  color: #5eb6e1;
}
.fa-phone {
  color: #5eb6e1;
}
/* Colors */
.grey {
  color: #9e9e9e;
}
.cyan {
  color: #5eb6e1;
}
/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 45px;
}
.high-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 500px;
}
.nav {
  font-family: "FuturaPT-Demi";
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
}
.nav:hover {
  color: #5eb6e1;
}
.logo {
  width: 152px;
}
.telephone {
  font-family: "FuturaPT-Demi";
  color: #262626;
}
.telephone:hover {
  color: #5eb6e1;
}
/* Section 1 */
.background {
  background-image: url("../images/background.jpg");
  position: relative;
  height: 605px;
  width: 100%;
  background-size: cover;
  margin-top: 42px;
  background-repeat: no-repeat;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  max-width: 200px;
  width: 100%;
  background-color: #5eb6e1;
  border-radius: 10px;
}
.get-started {
  font-family: "FuturaPT";
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
}
.container {
  position: absolute;
  max-width: 550px;
  width: 100%;
  height: 300px;
  top: 200px;
  left: 300px;
}
.header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5.5px 0px 54px 0px;
  max-width: 550px;
  width: 100%;
}
.practice {
  max-width: 600px;
  width: 100%;
}
/* Section 2 */
.triple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
  max-width: 1600px;
  width: 100%;
}
.tri-box {
  background-size: cover;
  width: 400px;
  height: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tri-box:nth-child(1) {
  background-image: url("../images/classic.jpg");
}
.tri-box:nth-child(2) {
  background-image: url("../images/standard.jpg");
}
.tri-box:nth-child(3) {
  background-image: url("../images/premium.jpg");
}

.button-classic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 137px;
  width: 100%;
  height: 39px;
  background-color: #ff6c2c;
}
.button-standard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 137px;
  width: 100%;
  height: 39px;
  background-color: #945b9f;
}
.button-premium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 137px;
  width: 100%;
  height: 39px;
  background-color: #5eb6e1;
}
.number {
  font-family: "FuturaPT-Bold";
  font-size: 15px;
  color: #ffffff;
}
.body-building {
  max-width: 320px;
  width: 100%;
}
.body-building-1 {
  max-width: 360px;
  width: 100%;
}

.body-building-2 {
  max-width: 340px;
  width: 100%;
}
/* Section 3 */
.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 100px 0px;
}
.about-us {
  font-family: "FuturaPT-Bold";
  font-size: 15px;
  color: #ff6c2c;
  text-transform: capitalize;
}
.line {
  display: inline-block;
  height: 1px;
  width: 168px;
  background-color: #00a2ff;
}
.black-paragraph {
  margin-top: 20px;
  color: #ffffff;
}
.orange {
  color: #ff6c2c;
  margin: 30px 0px;
}
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding-top: 250px;
}
.button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100px;
  background-color: #5eb6e1;
  border-radius: 10px;
  margin-top: 30px;
}
.read-more {
  font-family: "FuturaPT";
  font-size: 15px;
  color: #000000;
  text-transform: capitalize;
}
.triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.triangle-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 150px;
}
.triangle-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}
.measure {
  height: 456px;
  width: 280px;
}
.treadmill {
  height: 356px;
  width: 280px;
}
.rope {
  height: 356px;
  width: 280px;
  margin-top: 20px;
}
/* Section-4 */
.black-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1000px;
  width: 100%;
  background-color: #000000;
}
.text2 {
  max-width: 540px;
  width: 100%;
  text-align: center;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1200px;
  width: 100%;
}
.white {
  color: #ffffff;
}
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 75px;
}
.block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: cover;
  width: 400px;
  height: 300px;
}
.block-box:nth-child(1) {
  background-image: url("../images/barbells.jpg");
}
.block-box:nth-child(2) {
  background-image: url("../images/barbells-2.jpg");
}
.block-box:nth-child(3) {
  background-image: url("../images/cycling.jpg");
}
.block-box:nth-child(4) {
  background-image: url("../images/dumbbell.jpg");
}
.block-box:nth-child(5) {
  background-image: url("../images/abs.jpg");
}
.block-box:nth-child(6) {
  background-image: url("../images/weightlifting.jpg");
}
.block-box-span {
  font-family: "FuturaPT-Book";
  font-size: 35px;
  color: #ffffff;
  text-transform: capitalize;
  display: inline-block;
}
.block-box::after {
  content: "";
  width: 100%;
  height: 20%;
  background-color: #000000;
  opacity: 75%;
  display: inline-block;
}
/* Section-5 */
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
}
.text3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  width: 100%;
  margin-bottom: 62px;
}
.trio-paragraph {
  margin-top: 20px;
}
.trio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1500px;
  width: 100%;
}
.trio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 470px;
  max-width: 350px;
  width: 100%;
  -webkit-box-shadow: 5px 2px 10px #888888;
          box-shadow: 5px 2px 10px #888888;
}
.black {
  color: black;
}
.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 100px;
  width: 100%;
}
.medium {
  max-width: 170px;
  width: 100%;
  color: #292f39;
  margin: 10px 0px;
}
.medium-1 {
  max-width: 200px;
  width: 100%;
  color: #292f39;
  margin: 10px 0px;
}
.picture {
  max-width: 350px;
  width: 100%;
}
.button3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  max-width: 283px;
  width: 100%;
  background-color: #5eb6e1;
  border-radius: 10px;
  margin-top: 80px;
}
/* Section-6 */
.testimonials-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  height: 500px;
  width: 100%;
  background-color: #000000;
}
.testimonial-header {
  color: #ffffff;
  text-align: center;
}
.lorem {
  margin: 15px 0px;
  color: #888888;
  text-align: center;
}
.text-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  max-width: 400px;
  width: 100%;
}
.line2 {
  display: inline-block;
  height: 1px;
  width: 168px;
  background-color: #00a2ff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.elsayed {
  text-align: center;
  margin: 15px 0px;
}
/* Section-7 */
.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1400px;
  width: 100%;
}
.three-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  width: 400px;
  background-color: #000000;
}
.three-box-image {
  max-width: 330px;
  width: 100%;
  padding-top: 30px;
}
.harvard {
  color: #5eb6e1;
  max-width: 330px;
  width: 100%;
  margin: 20px 0px;
}
.dummy-text {
  color: grey;
  max-width: 330px;
  width: 100%;
}
.fa-earth-americas,
.fa-clock {
  color: #5eb6e1;
}
.three-box-span {
  color: #bbbbbb;
}
.span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 460px;
  width: 100%;
  margin-top: 20px;
}
.globe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 130px;
  width: 100%;
}
.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 80px;
  width: 100%;
  margin-right: 50px;
}
.punch {
  color: #5eb6e1;
  max-width: 350px;
  width: 100%;
  margin: 20px 0px;
}
/* Section-8 */
.last-section {
  height: 915.96px;
  width: 100%;
  background-color: #000000;
  margin-top: 200px;
}
.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-width: 470px;
  width: 100%;
  margin: 50px 0px 0px 50px;
}
.area {
  max-width: 463px;
  width: 100%;
  height: 53px;
  background-color: #000000;
  border: #5eb6e1 solid 1px;
  color: #ffffff;
  font-family: "FuturaPT";
  margin: 50px 0px 30px 0px;
}
.area::-webkit-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area::-moz-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area:-ms-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area::-ms-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area::placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area-1 {
  max-width: 463px;
  width: 100%;
  height: 53px;
  background-color: #000000;
  border: #5eb6e1 solid 1px;
  color: #ffffff;
  font-family: "FuturaPT";
  color: #ffffff;
}
.area-1::-webkit-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area-1::-moz-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area-1:-ms-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area-1::-ms-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.area-1::placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.text-area {
  max-width: 463px;
  width: 100%;
  height: 88px;
  resize: none;
  background-color: #000000;
  border: #5eb6e1 solid 1px;
  color: #ffffff;
  font-family: "FuturaPT";
  margin: 30px 0px;
}
.text-area::-webkit-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.text-area::-moz-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.text-area:-ms-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.text-area::-ms-input-placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.text-area::placeholder {
  color: #5eb6e1;
  font-family: "FuturaPT";
  text-transform: capitalize;
}
.submit {
  background-color: #5eb6e1;
  max-width: 463px;
  width: 100%;
  height: 53px;
  border-radius: 10px;
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 300px;
  width: 100%;
  margin-top: 50px;
}
.email {
  color: #ffffff;
  font-family: "FuturaPT";
}
.email::after {
  content: "";
  height: 12px;
  width: 0.1px;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 5px;
}
.phone {
  color: #ffffff;
  font-family: "FuturaPT";
}
.phone:hover {
  color: #5eb6e1;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 100px;
  width: 100%;
  margin-top: 5px;
}
.big-pic {
  max-width: 800px;
  width: 100%;
}
.cyan-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 20px;
  background-color: #5eb6e1;
}
.bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1900px;
  width: 100%;
  padding-top: 100px;
}
.quick-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-width: 400px;
  width: 100%;
}
.quick {
  margin-bottom: 20px;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 80px;
  width: 100%;
}
.popular-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
  width: 100%;
  margin-top: 20px;
}
.frame {
  border: solid white 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 5px;
  margin: 3px;
}
.frame:hover {
  background-color: #5eb6e1;
}
.blue-ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1900px;
  width: 100%;
  height: 20px;
  background-color: #5eb6e1;
  margin-top: 100px;
}
.low-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "FuturaPT-Demi";
  text-transform: capitalize;
  width: 500px;
}
.black:hover {
  color: #ffffff;
}
.fa-regular {
  display: none;
}
.last-span {
  font-family: "FuturaPT-Light";
  color: white;
}
.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}