/* Main Elements */

h2 {
  font-family: "FuturaPT";
  font-size: 50px;
  text-transform: capitalize;
  color: #ffffff;
}
h3{
    font-family: 'FuturaPT';
    font-size: 40px;
    text-transform: capitalize;
}
h4 {
  font-family: "FuturaPT";
  font-size: 30px;
  text-transform: capitalize;
  color: #ffffff;
  width: 100%;
}
h5 {
  font-family: "FuturaPT";
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
}
P{
  font-family: "FuturaPT";
  font-size: 15px;
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 45px;
}
.high-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 500px;
  width: 100%;
  margin-left: 334px;
  margin-right: 27px;
}
.nav {
  font-family: "FuturaPT-Demi";
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
}
.logo {
  width: 152px;
}
.telephone {
  font-family: "FuturaPT-Demi";
  color: #262626;
}
/* Section 1 */
.background {
  background-image: url("../images/background.jpg");
  position: relative;
  height: 605px;
  width: 100%;
  background-size: cover;
  margin-top: 42px;
  background-repeat: no-repeat;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 200px;
  background-color: #5eb6e1;
  border-radius: 10px;
}

.get-started {
  font-family: "FuturaPT";
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
}

.container {
  position: absolute;
  max-width: 550px;
  width: 100%;
  height: 300px;
  top: 200px;
  left: 300px;
}
.header-1 {
  margin: 5.5px 0px 54px 0px;
}
.practice {
  max-width: 600px;
}
/* Section 2 */
.triple{
    display: flex;
    flex-flow: row flex;
    justify-content: space-evenly;
    margin-top: 100px;
    max-width: 1600px;
    width: 100%;
}
.tri-box {
  background-size: cover;
  max-width: 400px;
  width: 100%;
  height: 283px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.tri-box:nth-child(1) {
  background-image: url("../images/classic.jpg");
}
.tri-box:nth-child(2) {
  background-image: url("../images/standard.jpg");
}
.tri-box:nth-child(3) {
  background-image: url("../images/premium.jpg");
}

.button-classic {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 137px;
  width: 100%;
  height: 39px;
  background-color: #ff6c2c;
}
.button-standard {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 137px;
  width: 100%;
  height: 39px;
  background-color: #945b9f;
}
.button-premium {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 137px;
  width: 100%;
  height: 39px;
  background-color: #5eb6e1;
}
.number {
  font-family: "FuturaPT-Bold";
  font-size: 15px;
  color: #ffffff;
}
.body-building{
    max-width: 320px;
    width: 100%;
  }
.body-building-1 {
    max-width: 360px;
    width: 100%;
  }

.body-building-2 {
  max-width: 340px;
  width: 100%;
}
/* Section 3 */
.section-3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 200px 0px;
}
.about-us{
    font-family: "FuturaPT-Bold";
    font-size: 15px;
    color: #ff6c2c;
    text-transform: capitalize;
}
.line{
    display: inline-block;
    height: 1px;
    width: 168px;
    background-color: #00A2FF;
}
.black-paragraph{
  margin-top: 20px;
  color: #ffffff;
}
.orange{
  color: #ff6c2c;
  margin: 30px 0px;
}
.text{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding-top: 250px;
}
.button2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: #5eb6e1;
  border-radius: 10px;
  margin-top: 30px;
}
.read-more{
  font-family: "FuturaPT";
  font-size: 15px;
  color: #000000;
  text-transform: capitalize;
}
.grey{
  color: #9E9E9E;
}
.triangle{
display: flex;
flex-direction: row;
}
.triangle-1{
  display: flex;
  flex-direction: row;
  padding-top: 150px;
}
.triangle-2{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.measure{
  height: 456px;
  width: 280px;
}
.treadmill{
  height: 356px;
  width: 280px;
}
.rope{
  height: 356px;
  width: 280px;
  margin-top: 20px;

}
/* Section-4 */
.black-square{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  background-color: #000000;
}
.text2{
  max-width: 540px;
  width:100%;
  text-align: center;

}
.wrapper{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  max-width: 1200px;
  width: 100%;

}
.white{
  color: #ffffff;
}
.block{
  display: flex;
  flex-flow: row wrap;
  margin-top: 75px;
}
.block-box{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  width: 400px;
  height: 300px;
}
.block-box:nth-child(1){
  background-image: url('../images/barbells.jpg');
}
.block-box:nth-child(2){
  background-image: url('../images/barbells-2.jpg');
}
.block-box:nth-child(3){
  background-image: url('../images/cycling.jpg');
}
.block-box:nth-child(4){
  background-image: url('../images/dumbbell.jpg');
}
.block-box:nth-child(5){
  background-image: url('../images/abs.jpg');
}
.block-box:nth-child(6){
  background-image: url('../images/weightlifting.jpg');
}
.block-box-span{
  font-family: 'FuturaPT-Book';
  font-size: 35px;
  color: #ffffff;
  text-transform: capitalize;
  display: inline-block;
}
.block-box::after{
  content: '';
  width: 100%;
  height: 20%;
  background-color: #000000;
  opacity: 75%;
  display: inline-block;
}
/* Section-5 */
.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
}
.text3{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin-bottom: 62px;
}
.trio-paragraph{
  margin-top: 20px;
}
.trio-container{
  display: flex;
  justify-content: space-evenly;
  max-width: 1500px;
  width: 100%;
}
.trio-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 470px;
  max-width: 350px;
  width: 100%;
  box-shadow: 5px 2px 10px #888888 ;
}
.black{
  color:black;
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100px;
  width: 100%;
}
.medium{
  max-width: 170px;
  width: 100%;
  color: #292F39;
  margin: 10px 0px;
}
.medium-1{
  max-width: 200px;
  width: 100%;
  color: #292F39;
  margin: 10px 0px;
}
.fa-facebook-f{
  color: #0739FF;
}
.fa-twitter{
  color: #00A2FF;
}
.fa-instagram{
  color:#F933DF;
}
.picture{
  max-width: 350px;
  width: 100%;
}
.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  max-width: 283px;
  width: 100%;
  background-color: #5eb6e1;
  border-radius: 10px;
  margin-top: 80px;
}
/* Section-6 */
.testimonials-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 500px;
  width: 100%;
  background-color: #000000;
}
.testimonial-header{
  color: #ffffff;
  text-align: center;
}
.lorem{
  margin: 15px 0px;
  color:#888888;
  text-align: center;
}
.text-4{
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 400px;
  width: 100%;
}
.line2{
  display: inline-block;
  height: 1px;
  width: 168px;
  background-color: #00A2FF;
  align-self: center;
}
.elsayed{
  text-align: center;
  margin: 15px 0px;
}
